<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{{ site.title }}</h2>
        <p>{{ site.description }}</p>
      </section>
      {%- include social.html -%}
      <p class="copyright">
        &copy; <a href="mailto:{{ site.email }}">{{ site.author }}</a>.
      </p>
    </div>
    <div>
      <section>
        <h2>Get in touch</h2>
        <p class="copyright">
          <!-- <a href="mailto:{{ site.email }}">{{ RESUME }}</a>. -->
          <a href="{{site.baseurl}}/assets/RESUME.pdf" class="field"></a>
        </p>
        <p>{{ site.email }}</p>
      </section>
    </div>
  </div>
</footer>
