<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{{ site.title }}</h2>
        <p>{{ site.description }}</p>
      </section>
      {%- include social.html -%}
      <p class="copyright">
        &copy; <a href="mailto:{{ site.email }}">{{ site.author }}</a>.
      </p>
    </div>
    <div>
      <section>
        <h2>Get in touch</h2>
        ---
        layout: default
        title: Resume
        permalink: /resume/
        weight: 4
        ---
         
        <br>
        <li class="inline-block">
          <a
            target="_blank"
            class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2"
            href="/assets/RESUME.pdf"
            >Resume.pdf</a
          >
        </li>
        <br>
        <object data="{{ site.url }}{{ site.baseurl }}/assets/RESUME_JZ.pdf" width="1200" height="1200" type="application/pdf"></object>
        <p>{{ site.email }}</p>
      </section>
    </div>
  </div>
</footer>
