<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="is-preload">

    <div id="wrapper">

      {%- include header.html -%}

      <div id="main">
        {% for image in site.images %}
          <article class="thumb">
            <a href="{{site.baseurl}}/projects/{{image.projectId}}" class="image">
              <img src="{{site.baseurl}}/assets/images/thumbs/{{ image.path | split: '/' | last | split: '.' | first }}.gif" alt="{{ image.title }}" />
            </a>
            <h2>
              {% if image.title != null %}
              <span style="text-shadow: 0px 0px 8px black !important;">{{ image.title }}</span>
              {% endif %}
            </h2>
            <div class="skillList">
              {% for skill in image.skillList %}
              <div class="skill">{{skill}}</div>
              {% endfor %}
            </div>
            </article>
        {% endfor %}

        <!-- no idea where to put this... -->
        <!-- {{ content }} -->
      </div>

      {%- include footer.html -%}

    </div>

    <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
    <!-- <script src="{{ 'assets/js/jquery.poptrox.min.js' | relative_url }}"></script> -->
    <script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/util.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>

  </body>

</html>
